.filter {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
  width: 232px;
  height: 252px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin: 0 auto 20px auto;
  &__title {
    display: block;
    margin: 20px 0 10px 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
  }
  label {
    margin-inline-start: 0 !important;
    padding: 9px 20px;
    width: 100%;
    input {
      margin: 0 !important;
    }
  }
  label:focus,
  label:active,
  label:hover {
    background-color: #f1fcff;
  }
}
:where(.css-dev-only-do-not-override-ph9edi).ant-checkbox .ant-checkbox-inner {
  border-radius: 2px !important;
}
.vertical {
  display: flex;
  flex-direction: column;
  border-radius: 2px !important;
}

@media (max-width: 420px) {
}
