$blueColor: #2196f3;
$textColor: #4a4a4a;

.sort {
  width: 502px;
  margin: 0 auto 20px auto;
  display: flex;
  flex-wrap: nowrap;
  &__tab {
    padding: 15px 24px;
    background-color: #fff;
    text-transform: uppercase;
    color: $textColor;
    border: 1px solid #dfe5ec;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.5px;
    outline: 0;
  }
  &__tab:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
  }
  &__tab:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  // &__tab:hover,
  // &__tab:active,
  // &__tab:focus
  &__tab.sorted {
    background-color: $blueColor;
    color: #fff;
  }
}
